:root{
    --bg:#080606;
    --panel:#151010;
    --panel2:#1d1414;
    --wine:#65131d;
    --wine2:#941f2c;
    --gold:#c99b48;
    --gold2:#f0ca78;
    --white:#f8f4ed;
    --muted:#b9aea5;
    --border:rgba(201,155,72,.25);
}
